@tailwind base;
@tailwind components;
@tailwind utilities;


.react-datepicker__input-container input {
    width: 100%; 
  }
  
  .react-datepicker__input-container input:focus {
    border-color: transparent; 
    box-shadow: none;
    outline: none;
  }
  
  .react-datepicker-wrapper {
    width: 100%; 
  }
  h2.react-datepicker__current-month {
    padding: 0;
    margin: 10px;
    display: none;
}
.react-datepicker__header select {
  padding : 3%;
}